<!--
    layout.html
    By: Vanessa Arreola
    November 25, 2021
    SDEV 300
  -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Logic to pass a title if one is provided -->
        {% if title %}  
            <title>{{ title }}</title>
        {% endif %}
         <link rel="stylesheet" href="static/main.css?q=12805497802">      
    </head>

    <body>
        <!-- Menu bar -->
        <div>
            <p>
            <a href="/home">Home</a>
            <a href="/maindishes">Main Dishes</a>
            <a href="sides">Side Dishes</a>
            </p>
        </div>
        <hr>
        <!-- Logic to pass a heading if one is provided -->
        {% if heading %}
            <h1>{{ heading }}</h1>
        {% endif %}

        <!-- Space to add an image on the child html doc -->
        <div>
            {% block image %} {% endblock %}
        </div>

        <!-- Template for the recipes on each child html page. It includes blocks for the child 
        pages to add their own content -->
        <div class="recipenames">
            <!-- recipe 1 -->
            <h2> {% block recipename1 %} {% endblock %}</h2>
            <p> {% block info %} {% endblock %} </p>
            <h3>Ingredients</h3>
            <div class = "list">
                {% block ul1 %}
                {% endblock %}
            </div>
            <h3>Preparation</h3>
            <div class="list">
                {% block ol1 %}
                {% endblock %}
            </div>

            <!-- recipe 2 -->
            <h2> {% block recipename2 %} {% endblock %}</h2>
            <p> {% block info2 %} {% endblock %} </p>
            <h3>Ingredients</h3>
            <div class = "list">
                {% block ul2 %}
                {% endblock %}
            </div>
            <h3>Preparation</h3>
            <div class="list">
                {% block ol2 %}
                {% endblock %}
            </div>

            <!-- recipe 3 -->
            <h2> {% block recipename3 %} {% endblock %}</h2>
            <p> {% block info3 %} {% endblock %} </p>
            <h3>Ingredients</h3>
            <div class = "list">
                {% block ul3 %}
                {% endblock %}
            </div>
            <h3>Preparation</h3>
            <div class="list">
                {% block ol3 %}
                {% endblock %}
            </div>
    </body>
</html>