{% extends "layout.html" %}

{% block image %} <img class="image" src="static/buildings.jpg" alt="Havana Buildings"> {% endblock %}

{% block recipename1 %} Fricasé de Pollo (Chicken Fricaseé) {% endblock %}

{% block info %} This recipe is a delicious chicken stew. It came to Cuba from France
by way of Haiti. Although French chicken Fricaseé is made in a white 
sauce, Cuban Fricasé is made in a blend of sweet and sour citrus juices.
{% endblock %} 

{% block ul1 %}
<h4>Marinade</h4>
<ul>
    <li>3 garlic cloves</li>
    <li>1t salt</li>
    <li>1t dried oregano</li>
    <li>1/2t ground cumin</li>
    <li>1 cup sour orange juice (or equal parts lime and orange juice)</li>
    <li>1/4 cup fresh lime juice</li>
    <li>4lbs bone in, skinless chicken thighs</li>
</ul> 
<h4>For the Stew</h4>
<ul>
    <li>1 cup sofrito (Puree 1 onion, 1 bell pepper, 4 garlic cloves,
        and olive oil</li>
    <li>1 cup dry white wine</li>
    <li>1 cup chicken stock </li>
    <li>1 cup tomato sauce</li>
    <li>1t dried oregano</li>
    <li>1/2t ground cumin</li>
    <li>2lbs of small potatoes, quartered</li>
    <li>1/4 cup manzanilla green olives</li>
</ul>
{% endblock %}

{% block ol1 %}
<ol>
    <li>To prepare marinade, use a mortar and pestle to mash the garlic and 
        spices to a paste. Add the sour orange and lime juice and mix. Marinade
        chicken for at least 2 hours or overnight.</li>
    <li>Remove chicken from marinade, drain, and pat dry. Reserve marinade</li>
    <li>Heat some olive oil in a heavy 5-6quart pot over medium heat. Brown
        the chicken on both sides. Remove the chicken.
    </li>
    <li>Add the sofrito to the pan and stir constantly until fragrant, 3-5 min.</li>
    <li>Add the wine, stock, tomato sauce, and reserved marinade. Stir in remaining
        oregano and cumin. Return the browned chicken to the pot and simmer until cooked
        through, about 40 minutes.
    </li>
    <li>Add the olives and potatoes, and cook another 15-20 min until potatoes are cooked.</li>
</ol>
<hr>
{% endblock %}



{% block recipename2 %} Ajiaco Criollo con Casabe (Creole Stew and Yucca Flatbread) {% endblock %}

{% block info2 %} 
Ajiaco is the oldest known Cuban recipe. It can be found in 16th century colonial documents and 
cooking manuals. It makes use of the abundant roots found in Cuban agriculture. It is a hearty Stew
typically served with yucca flatbread, known as casabe.
{% endblock %}

{% block ul2 %}
<ul>
    <li>1/2lb tasajo (smoked dried beef)</li>
    <li>2lbs of bone-in, skinless chicken thighs and drumsticks</li>
    <li>1/2lb of flank steak, cut into 1" cubes</li>
    <li>pork ham hock</li>
    <li>1/4lb of boneless pork loin, trimmed of fat and cut into 1" cubes.</li>
    <li>1lb of 1" cubes of boniato (sweet potato), </li>
    <li>1lb of 1" cubes of malanga (taro root)</li>
    <li>1lb of 1" cubes of yucca</li>
    <li>2 ears of corn, shucked and cut into 2" rounds</li>
    <li>2 green plantains, cut into 1" rounds</li>
    <li>1lb of pumpkin or squash, cut into 1" cubes</li>
    <li>1 chayote, peeled and cut into 1" cubes</li>
    <li>1.5 cup of sofrito</li>
    <li>1/2 cup sour orange juice</li>
</ul> 
{% endblock %}

{% block ol2 %}
<ol>
    <li>Soak the tasajo for 8 hours to remove the salt. Change the water twice. Drain and rinse.</li>
    <li>Add the chicken, flank steak, ham hock, and pork loin to a pot with 5quarts of water. 
        Simmer until tender, skimming off impurities that rise to the top, about 1 hr.
    </li>
    <li>Add the boniato, malanga, yuca, and corn to the pot. Cook covered until tender, about 20 min.
        Add the plantains, pumpkin, and chayote. Continue to simmer until tender, 45-60 more minutes.
        Replenish water if needed. The meat should fall from the bone and shred easily. 
    </li>
    <li>In the meantime, whisk sour orange juice into sofrito to form a paste. Add 1T salt and 1t cumin.
        Saute the sofrito in a skillet until fragrant. Mash 1 cup of roots and 1 cup of broth from the Stew
        into the sofrito, and simmer until blended, 5 min.
    </li>
    <li>Add the sofrito mixture back to the stew, and simmer an additional 10-15 minutes until thickened.
        Adjust seasonings to taste. Ladle into bowls and enjoy with a side of casabe.
    </li>
</ol>
<hr>
{% endblock %}



{% block recipename3 %} Quimbombó con Platano (Okra Stew with Plantain Dumplings) {% endblock %}

{% block info3 %} The name of this recipe, Quimbombó, can refer to okra vegetables, or the stew they 
are featured in. Quimbombó is a traditional Cuban recipe. Although okras are native to easter Africa,
they were brought to Cuba in the 16th century slave trade. Chicken is first poached then marinaded
before being simmered with tomato puree and white wine to cut through the mucilage released by the okra.
{% endblock %}

{% block ul3 %}
<ul>
    <li>8 cups of chicken stock</li>
    <li>2-3 large chicken breasts</li>
    <li>4 cloves of garlic peeled</li>
    <li>1t salt</li>
    <li>1/4t ground black pepper</li>
    <li>1/2 cup of sour orange juice</li>
    <li>1/4 cup of olive oil</li>
    <li>1 cup sofrito</li>
    <li>1 cup tomato puree</li>
    <li>1/2 cup dry white wine</li>
    <li>1lb fresh okra, rinsed well an patted dry.</li>
    <li>3 yellow plantains, cut into 1" rounds</li>
</ul> 
{% endblock %}

{% block ol3 %}
<ol>
    <li>Poach the chicken in the stock for 20-25 minutes over medium heat. Allow the chicken to cool 
        in the broth. When cool enough to handle, remove and shred the chicken. Place into a bowl.
    </li>
    <li>Strain the remaining stock, and reserve 6 cups in a pot. Prepare the marinade: mash the garlic, 
        salt, and pepper into a paste. Whisk in the sour orange juice, and pour over shredded chicken breast.
        Toss and set aside.
    </li>
    <li>Heat oil in a pan, and saute the sofrito until fragrant, 3-5 min. Add the sofrito to the pot 
        with the stock, and add the chicken with its marinade. Add in the tomato puree, white wine, 
        and bring to a steady simmer over medium heat.
    </li>
    <li>Meanwhile, prepare the okra. Trim the ends, and slice into 1/4" rounds. Drop them into the soup
        as you go.
    </li>
    <li>Add the plantains and simmer an additional 15 minutes. Serve immeditely.</li>
</ol>
{% endblock %}
