{% extends "layout.html" %}

{% block image %} <img class="image" src="static/redcar.jpg" alt="Red Car"> {% endblock %}

{% block recipename1 %} Moros y Cristianos (Black Beans and Rice) {% endblock %}

{% block ul1 %}
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul> 
{% endblock %}

{% block ol1 %}
<ol>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>
<hr>
{% endblock %}



{% block recipename2 %} Yucca con Mojo (Yucca with Garlic Creole Sauce) {% endblock %}

{% block info2 %} This recipe features Yucca, a root that has been the chief root crop of 
Cuba since the time of the indigenous Taino. This dish is traditionally served along side 
meat dishes, and is an absolute must at holiday gatherings. It is served with an accompanying
creole garlic sauce.
{% endblock %}

{% block ul2 %}
<ul>
    <li>3lbs of yucca, cut into 2" pieces</li>
    <li>6 garlic cloves, peeled</li>
    <li>1t salt</li>
    <li>1/4t ground black pepper</li>
    <li>1/2 cup sour orange juice (Or equal parts lime and orange juice)</li>
    <li>2T fresh oregano leaves, finely chopped</li>
    <li>1 large yellow onion, sliced</li>
    <li>1/2C olive oil</li>
</ul> 
{% endblock %}

{% block ol2 %}
<ol>
    <li>Place yuca in a pot with 1T of salt and water to cover. Bring the yuca to a boil,
        then cover and reduce to a simmer. Continue simmering for 20-25 minutes, until tender.
    </li>
    <li>Drain the yuca, then slice in half and remove the fibrous core.</li>
    <li>In the meantime, prepare the mojo. Mash the garlic, salt, and pepper into a fine paste.
        Whisk in sour orange juice and oregano.
    </li>
    <li>Place onions in a deep skillet with lid. Pour mojo over onions, and toss to coat.</li>
    <li>In a separate saucepan, heat up the olive oil. Place the lid over the pot with the onions,
        and open it just enough to safely pour the oil into the mojo. It will spurt and bubble,
        immeditely cover with the lid. Leave covered until the popping subsides, 3-5 minutes.
    </li>
    <li>Pour the mojo over the prepared yucca and enjoy immediately.</li>
</ol>
<hr>
{% endblock %}



{% block recipename3 %} Platanós Maduros (Ripe Plantains) {% endblock %}

{% block ul3 %}
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul> 
{% endblock %}

{% block ol3 %}
<ol>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>
{% endblock %}